# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules
web/.pnp
.pnp.js

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# server authentication
/server/authentication

# server crop data 
/server/dataset/crop_imgs
/server/dataset/crop_results
/server/results/*
/server/checkpoint/*

# server dataset
/server/dataset/2350
/server/dataset/test_gothic
/server/dataset/UhBee_charming
