@import "styles/variables.module";

.container {
    background-color: $bg-white;
    height: 80px;
    color: #0000005c;
    border-top: 1px rgb(138 138 138 / 20%) solid;
    font-size: 14px;
    padding: 12px;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 4px;
}