$bg-blue: #77cdf8;
$bg-blue--1: #39bdff;
$bg-blue--2: #3A6378;
$bg-blue--3: #C2E6F9;
$bg-blue--4: #5D6F78;
$bg-blue--5: #5EA2C4;

$primary--1: #FFD882;
$primary--2: #E8C490;
$primary--3: #FFD2AA;
$primary--4: #E8AD90;
$primary--5: #FFB29E;

$bg-white: rgb(241, 241, 241);