$bg-blue: #77cdf8;
$bg-blue--1: #39bdff;
$bg-blue--2: #3A6378;
$bg-blue--3: #C2E6F9;
$bg-blue--4: #5D6F78;
$bg-blue--5: #5EA2C4;

$primary: #78bebd;
$primary--1: #385756;
$primary--2: #4DDDDB;
$primary--3: #8BD6D5;
$primary--4: #1E5756;
$primary--5: #6AA3A2;

$primary-dark--1: #37373b;

$bg-white: rgb(241, 241, 241);